.main-body {
  width: 100%;
  padding-bottom: 150px;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  padding-left: 30%;
  flex-basis: 60%;
  font-weight: 400;
  margin-left: 40px;
}

.header-navs{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.header-bar-link {
  color: #ffff;
  height: 16px;
  padding: 5px 10px;
  margin: 10px;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 500;
}

.header-bar-link:hover {
  color: white;
  transition: 0.3s;
}

.header-bar-link .active-link {
  color: black;
}

.active-header-link:after {
  position: relative;
  border-bottom: 2px solid #00A079;
  content: ' ';
  width: 60%;
  display: block;
  margin-left: 21%;
  margin-top: 1px;

}

.new-playlist-button:hover{
  color: #fff;
  background-color: #007263;
  transform: scale(1.1);
}

.new-playlist-button {
  margin-top: 20px;
  margin-right: 60px !important;
  background-color: #00A079;
  color: white;
  border: none;
  cursor: pointer;
  width: 12%;
  border-radius: 40px;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 2px;
  width: 141px;
  height: 31px;
  text-align: center;
  transition: 0.3s;
  margin-left: auto;
  margin-right: 20px;
}

//modal


.playlist-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 200px;
}

.x-button {
  color: white;
  margin: auto;
  width: 40px;
  height: 40px;
  font-size: 60px;
  font-weight: 30;
  transition: 0.3s;
  margin-bottom: 40px;
  background-color: transparent;
}

.x-button:hover {
  background-color: transparent;
  transform: scale(1.2);
  transition: 0.3s;
}

.playlist-input-text {
  width: 100%;
  height: 75px;
  font-size: 30px;
  color: white;
}

.playlist-form-header {
  width: 450px;
  height: 60px;
  text-align: center;
  margin: auto;
  color: white;
  font-size: 50px;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

.playlist-input-label {
  font-size: 13px;
  color: white;
}

.playlist-form {
  width: 100%;
  height: 147px;
  background-color: rgb(40, 40, 40);
  padding: 0 20%;
  margin-bottom: 20px;
}

.playlist-buttons {
  margin: auto;
  height: 39px;
  font-size: 12px;
  font-weight: 100;
}

.cancel-button {
  margin-top: 5px;
  border: 1px solid rgb(170, 170, 170);
  color: white;
  cursor: pointer;
  width: 15%;
  border-radius: 40px;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 2px;
  width: 141px;
  height: 31px;
  text-align: center;
  transition: 0.3s;
  margin-left: auto;
  margin-right: 20px;
  background-color: transparent;
}

.cancel-button:hover {
  border: 1px solid white;
  transform: scale(1.2)
}

.create-button {
  background-color: #1db954;
  border: none;
  margin-top: 5px;
  color: white;
  cursor: pointer;
  width: 15%;
  border-radius: 40px;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 2px;
  width: 141px;
  height: 31px;
  text-align: center;
  transition: 0.3s;
  margin-left: auto;
  margin-right: 20px;
}

.playlist-song-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 15%;
  color: white;
}

.song-form-image-item{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.users-playlists {
  justify-content: center;
}

.create-button:hover {
  color: #fff;
  background-color: #4bdf80;
  transition: 0.3s;
  transform: scale(1.1)
}
