.main-container {
  height: 1000px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(#8D200A, #6D1A08, #451005, #150501);
}


.main-container .nav-bar {
  padding: 24px 24px 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 230px;
  background-color: black;
  opacity: .8;
  box-sizing: border-box;
  position: fixed;
  top: 0;
}

.nav-bar .logo {
  display: flex;
  justify-content: left;
  font-weight: 545;
  font-size: 24px;
  height: 40px;
  color: white;
  margin-top: 20px;
  margin-bottom: 29px
}

.nav-bar .logo img {
  width: 40px;
}

.nav-bar .logo h1 {
  padding-top: 7px;
  letter-spacing: 0px;
  margin-left: 7px;
}

.nav-bar span{
  display: flex;
  color: #B3B3B3;
}
.nav-bar span:hover{
  color: white;
}

.nav-bar span h2{
  padding-top: 7px;
  padding-left: 9px;
  width: 120px;
  font-weight: 550;
  font-size: 14px;
  letter-spacing:1px;
}
.nav-bar span img{
  width: 31px;
  height: 31px;
}

.nav-bar .logout{
  color: white;
  margin-top: 500px;
  align-self: end;
}



// body {
//     --glue-font-family: "spotify-circular","noto-arabic","Helvetica Neue",Helvetica,Arial,"Hiragino Kaku Gothic Pro","Meiryo","MS Gothic",sans-serif;
// }

// body, button, input {
//     font-size: 14px;
//     line-height: 20px;
//     letter-spacing: .015em;
//     font-weight: var(--glue-font-weight-normal);
//     color: #b3b3b3;
//     text-transform: none;
//     font-family: var(--glue-font-family);
// }
