.main-container {
  height: 100vh;
  background: #34e89e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  font-family: Circular,Helvetica,Arial,sans-serif;
}

.main-container .nav-bar {
  padding: 24px 24px 5px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 230px;
  background-color: black;
  opacity: .8;
  box-sizing: border-box;
  top: 0;
}

.nav-bar .logo {
  display: flex;
  justify-content: left;
  font-weight: 545;
  font-size: 24px;
  height: 40px;
  color: white;
  margin-top: 20px;
  margin-bottom: 29px;
}

.nav-bar .logo img {
  width: 40px;
  height: 40px;
}

.nav-bar .logo h1 {
  padding-top: 7px;
  letter-spacing: 0px;
  margin-left: 7px;
}

.nav-bar .icon-holder {
  position: relative;
}

.nav-bar span{
  display: flex;
  color: #B3B3B3;
}

.nav-bar span:hover{
  color: white;
}

.nav-bar span h2{
  padding-top: 7px;
  padding-left: 9px;
  width: 120px;
  font-weight: 550;
  font-size: 14px;
  letter-spacing:1px;
}

.nav-bar span img{
  width: 31px;
  height: 31px;
}

.nav-bar .logout{
  color: white;
  align-self: end;
  position: absolute;
  bottom: 100px;
  left: 70px;
}

.nav-bar .active-link{
  color: green;
  background-color: green;
}

.grid ul {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.playlist-item {
  padding: 20px;
  flex-basis: 15%;
  box-sizing: border-box;
}

.playlist-item-image {
  min-width: 150px;
  min-height: 150px;
  max-height: 241px;
  max-width: 241px;
}
.playlist-subtext {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playlist-subtext p {
  color:white;
  padding-bottom: 5px;
  font-size: 14px;
  font-family: Circular,Helvetica,Arial,sans-serif;
}
.playlist-subtext span {
  color: lightgray;
  font-weight: 100;
  font-size: 14px;
  font-family: Circular,Helvetica,Arial,sans-serif;
}
