.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
  z-index: 5;
}

.modal-child {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0%, -50%);
}


.x-btn {
  width: 50px;
  height: 50px;
  margin: auto;
  font-size: 60px;
  font-weight: 100;
  transition: 0.3s;
  margin-bottom: 15px;
}

//songs index and modal
