progress[value] {
  border-radius: 15px;
  width: 400px;
  height: 8px;
  margin: 0 10px 0 10px;
}

.progress-bar:hover progress[value] {
  cursor: pointer;
}

progress[value]::-webkit-progress-bar {
  border-radius: 17px;
  background-color: rgba(119, 119, 119, .6);
}

progress[value]::-webkit-progress-value {
  border-radius: 17px;
  transition: background-color .1s linear;
  background-color: rgba(119, 119, 119, .6);
}

.progress-bar:hover progress[value]::-webkit-progress-value {
  background-color: #007263;
}

#time-passed, #time-left {
  display: inline;
  text-align: center;
  width: 40px;
  font-size: 13px;
  font-weight: 200;
  background-color: transparent;
  color: hsla(0, 0%, 100%, .6);
}

#play-circle, #pause-circle {
  font-size: 40px;
  transition: font-size .13s linear;
  margin-bottom: 10px !important;
  padding-bottom: 10px;
  color: hsla(0, 0%, 100%, .6);
}

#play-circle {
  margin-bottom: 20px;
}

#pause-circle{
  color:white;
}

#play-circle:hover, #pause-circle:hover {
  cursor: pointer;
  font-size: 47px;
  color: #007263;
}

#next-song, #prev-song {
  font-size: 25px;
  transition: font-size .13s linear;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 22px;
  color: hsla(0, 0%, 100%, .6);
}

#next-song:hover, #prev-song:hover {
  cursor: pointer;
  font-size: 30px;
  color: #007263;
}

.material-icons{
  margin-top: 14px;
}

.song-photo{
  width: 50px;
  height: 50px;
  z-index: 3;
}

.add-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button-icon i {
  font-size: 20px;
  transition: font-size .13s linear;
}

.add-button-icon:hover i {
  cursor: pointer;
  font-size: 30px;
  color: #007263;
}

.playbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 100px;
  padding: 0 10px 0 10px;
  background-color: #282828;
  border-top: .5px solid black;
  bottom: 0;
  left: 0;
  right: 0;
}

.playbar-left {
  width: 30%;
  min-width: 200px;
}

.playbar-center {
  width: 40%;
  max-width: 722px;
}

.playbar-right {
  width: 30%;
  min-width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 20px;
}

#volume-control {
  transition: color .1s linear;
}
 #volume-control:hover {
  color: #1db954;
}

.playbar-container {
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 5px;
}

.playing-container {
  height: 100%;
  width: auto;
  padding: 0 12px 0 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playing-song{
  color: white;
  font-size: 15px;
  margin-left: 13px;
}

#add-to-playlist{
  filter: invert(1);
}

.add-to-playlist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  height: 20px;
  width: 20px;
}

.add-to-playlist-button i {
  font-size: 22px;
  transition: font-size .14s linear;
}

.add-to-playlist-button:hover i {
  cursor: pointer;
  font-size: 30px;
  color: #007263;
}

.playbar-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playbar-control-buttons {
  display: flex;
  width: 240px;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.playbar-control-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin-bottom: 10px;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
