.collection-index-item {
  display: flex;
  justify-content: center;
  width: 1200px;
  flex-direction: row;
}

.image-overlay {
  height: 100px;
  width: 100px;
}

.image-overlay {
  display: flex;
  flex-direction: row;
}
