.collection-index-item {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-left: 50px;
  padding-right: 50px;
}

.image-overlay {
  width: 150px;
  height: 150px;
}

.image-overlay {
  display: flex;
  flex-direction: row;
}
