.song-form-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-left: 50px;
  padding-right: 50px;
}

.song-form-image {
  width: 150px;
  height: 150px;
}

.song-form-image {
  display: flex;
  flex-direction: row;
}
