
.search-results {
  padding: 0 20px;
}
.search-header {
  padding: 20px;
  text-align: center;
}

.search-header h2 {
  color: #FFFFFF;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 10px;
  font-weight: 650;
}

.search-header p {
  color: #f2f0ee;
  font-size: 14px;
  font-weight: 300;
}

.search-section {
  margin-bottom: 40px;
}

.search-section h2 {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 650;
  text-align: center;
  margin-bottom: 20px;
}

.search-section h3 {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 650;
  margin-left: 53px;
}

.modal-input-container {
  padding: 30px 30px 20px;
  background-color: #282828;
  margin-bottom: 20px;
  margin-left: 30px;
  text-align: left;
}

.modal-input {
  font-family: var(--glue-font-family);
  font-size: 36px;
  line-height: 56px;
  background-color: #282828;
  color: #fff;
  border: none;
  font-weight: 500;
  letter-spacing: -1px;
  padding: 0;
  caret-color: #1db954;
}

.modal-input::placeholder {
  color: #535353;
}

.search-section {
  margin-bottom: 40px;
}
.search-section h2 {
  text-align: center;
  margin-bottom: 20px;
}
