.session-form-container{
  font-family: Circular,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222326;
  background-color: #fff;
  margin: 0;
  box-sizing: border-box;
  display: block;
}

*, :after, :before {
  box-sizing: border-box;
}

.session-header{
  border-bottom: 1px solid #d9dadc;
  padding: 25px 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  height: 107px;
}
.session-logo{
  width: 65px;
  height: 65px;
}

.session-header h1{
  padding-top: 5px;
  letter-spacing: -1px;
  margin-left: 9px;
  display: flex;
  justify-content: left;
  font-weight: 400;
  font-size: 38px;
  height: 40px;
  font-weight: 700;
}

.demo-div {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: table;
  text-align: center;
  width: 600px;
  margin-bottom: 17px;
}

.demo-form-divider {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
}
.demo-form-divider h2 {
  width: 500px;
  text-align: center;
  border-bottom: 1px solid #d9dadc;
  line-height: 0.1em;
  margin: 10px 0 0px;
}
.demo-form-divider span {
  background:#fff;
  padding:0 13px;
  font-weight: bold;
  font-size: 14px;
  font-family: Circular,Helvetica,Arial,sans-serif;
}

.demo-button {
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 85%;
  text-align: center;
  border-radius: 40px;
  font-weight: 650;
  margin-top: 8px;
  color: #fff;
  background-color: #3a61b3;
}

.demo-button:hover {
  color: white;
  background-color: #256fe8;
}

.session-errors{
  padding-top: 10px;
}

.session-error-ul{
  padding-top: 20px;
  margin-bottom: -10px;
  color:red;
}

.session-form{
  margin-top: -30px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: table;
  text-align: center;
}

.session-form input[type=text], input[type=email], input[type=password] {
  width: 500px;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: left;
}


.session-submit {
  background-color: #1db954;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  border-radius: 40px;
  font-weight: 650;
  margin-top: 20px;
  margin-bottom: 20px;
}

.session-form input::placeholder{
  opacity: .5;
  font-family: Circular,Helvetica,Arial,sans-serif;
  text-align: left;
}
//
// .session-form input[placeholder]:focus {
//   color: red;
// }

.session-submit:hover{
  color: #fff;
  background-color: #4bdf80;
}


.session-form divider{
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-bottom: .5px solid #d9dadc;
}

.session-form h2{
  padding-top: 35px;
  padding-bottom: 10px;
  font-weight: 650;
  color: black;
}

.session-link{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: table;
  text-align: center;
  width: 600px;
}

.session-form-other-button {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 85%;
  text-align: center;
  border-radius: 40px;
  font-weight: 650;
  color: #616467;
  box-shadow: inset 0 0 0 2px #616467;
  background-color: transparent;
}

.session-form-other-button:hover{
  color: white;
  background-color: #616467;
}

.session-form-other-login {
  color: #1DB954;
}
