.playlist-show-item {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 30px;
  width: 400px;
  margin-left: 10%;
  margin-top: 20px;
}

.playlist-show-item-image {
  min-width: 300px;
  min-height: 300px;
  max-height: 350px;
  max-width: 350px;
}
.playlist-show-subtext {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playlist-show-subtext p {
  color: white;
  padding-bottom: 5px;
  font-size: 14px;
  font-family: Circular,Helvetica,Arial,sans-serif;
}
.playlist-show-subtext span {
  color: lightgray;
  font-weight: 100;
  font-size: 14px;
  font-family: Circular,Helvetica,Arial,sans-serif;
}

.loading {
 width: 60px;
 margin: auto;
 margin-top: 160px;
}

.loading::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  // margin: auto;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: absolute;
  background: -webkit-linear-gradient(to top, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #0f3443, #34e89e);
}

.main-container {
  flex-direction: row;
}

.show-body{
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 900px;
}

.body-items {
  display: flex;
  flex-direction: row;
}

.header {
  max-height: 100px;
  padding-bottom: 200px;
}


.tracks {
  margin-top: 50px;
  margin-left: 100px;
}

.song-index-item {
  margin-left: 50px;
  display: flex;
  height: 60px;
  justify-content: space-between;
  width: 900px;
  color: #f2f2f2;
  flex: 1;
  align-items: center;
}


.song-index-item:hover {
  background-color: #404040;
  color: white;
  opacity: .7;
  .song-item {
    opacity: 1;
  }
}

.song-item {
  margin-left: 20px;
  margin-right: 200px;
}

.tripledot {
  width: 15px;
  margin-right: 20px;
  filter: invert(1);
}

// .song-index-wrapper{
//   display: flex;
//   flex-direction: column;
// }
.song-index-title{
  margin-left: 16px;
}
.song-index-album{
  margin-left: 15px;
  font-size: 14px;
  color: gray;
}

div[class*="song-index"] {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 5px 5px 5px 15px;
  transition: background-color .2s linear;
  width: 700px;
  padding-right: 40px;
}

// div[class*="song-index"]:hover {
//   background-color: rgba(0,0,0,.3);
// }

div[class*="song-index"] p {
  margin-bottom: 12px;
  opacity: 0;
}

div[class*="song-index"]:hover p {
  opacity: 1;
  cursor: pointer;
}

.index-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#index-pause {
  opacity: 1;
  color: #1db954;
}
