
.splash-page{
  background: image-url('background-bubbles.svg'), linear-gradient(rgb(253, 80, 107), rgb(251, 153, 56));
  width: 100%;
  height: 2000px;
  font-family: Circular, Helvetica, Arial, sans-serif;
  position:relative
}


.splash-nav {
  background-color: rgba(0,0,0,0.5);
  height: 80px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  color: #D9DADC;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;
}

.splash-page .logo {
  display: flex;
  justify-content: left;
  font-weight: 400;
  font-size: 28px;
  height: 40px;
  color: white;
  margin-left: 110px;
  margin-top: 18px;
}

.splash-page .logo img {
  width: 40px;
}

.splash-page .logo h1 {
  padding-top: 4px;
  letter-spacing: -1px;
  margin-left: 9px;
}

.login-signup{
  color: white;
  margin-top: 28px;
  margin-right: 110px;
  justify-content: space-between;
  font-size: 14px;
}

.splash-session-link:hover {
  color: #1ed760;
}

.splash-body{
  display: flex;
  justify-content: space-around;
  font-size: 80px;
  font-weight: 900;
  padding: 400px 0;
  color: white;
}

.footer-div{
  position:absolute;
   bottom:0;
   width:100%;
   height:500px;
   background-color:black;
}
